<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-center mb-0">🎬 Lista de Películas</h2>
    <a routerLink="/add-movie" class="btn btn-success">➕ Agregar Película</a>
  </div>

  <div *ngIf="movies.length === 0" class="text-center text-muted">
    <p>No hay películas registradas.</p>
  </div>

  <div *ngIf="movies.length > 0">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Año</th>
          <th>Sinopsis</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.id }}</td>
          <td>
            <a [routerLink]="['/movie', movie.id]" class="text-light text-decoration-none">
              {{ movie.title }}
            </a>
          </td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.synopsis }}</td>
          <td>
            <button [routerLink]="['/edit-movie', movie.id]" class="btn btn-sm btn-warning">
             Editar
          </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
